<div class="container-fluid">
    <div class="mt-4">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>Preview</th>
                    <th>Camera</th>
                    <th>Rover</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of MarsObject.photos">
                    <td>{{item.id}}</td>
                    <td>
                        <a [href]="item.img_src" target="_blank">
                            <img width="100" height="100" [src]="item.img_src">
                        </a>
                    </td>
                    <td>
                        {{item.camera.full_name}}
                    </td>
                    <td>
                        {{item.rover.name}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>